*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5% ;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  background-color: rgba(21, 21, 156, 0.808);
}
.navbar{
  display: flex;
  padding-top: 5%;
}
nav{
  flex: 1;
  text-align: left;

}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 3rem;
}
nav ul li a{
  text-decoration: none;
  color:white;
  font-size: 2rem;
}
nav ul li a:hover{
  background-color: #ff5ea2;
}
.heading-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 5rem;
  padding-top: 15rem;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-1 h1{
  font-size: 5rem;
  font-weight: 500;
  color: white;
 
}
button{
  width: 14rem;
  border: 0;
  padding: 1.2rem 1.0rem;
  margin-top: 5%;
  outline: none;
  color: #fff;
  background:linear-gradient(to right, #fb5282 ,#ff3527);
  border-radius: 1.0rem;
  cursor: pointer;
  transition: width 0.5s;
}
button:hover{
  width: 16.0rem;

}
.heading-2 img{
  width: 70rem;
  position: relative;
  padding-left: 12.0rem;
  padding-top: 3rem;
} 
.players{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.player{
  padding: 2.0rem;
  margin: 1.0rem;
}
.player img{
  width: 75%;
}

.container-2{
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  display: flex;
}
.article-1{
  flex-basis: 68rem;
  position: relative;
  margin-left: 5rem;
  padding-top: 15.0rem;
} 
.article-1 h1{
  font-size: 5.0rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.article-2 img{
  width: 65rem;
  position: relative;
  padding-left: 12.0rem;
  padding-top: 5rem;
}
.logo{
text-align: center;
}
.logo img{
 width: 30rem;
}

footer{
  height: 10rem;
  margin-top: 2rem;
}

.social-icon{
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

.copyright{
  
  text-align: center;
}

@media(max-width:998px){
  html{
    font-size: 55%;
  }
}

@media(max-width:768px){
  html{
    font-size: 45%;
  }
}
@media(max-width:375px){
  html{
    font-size: 21%;
  }
}